{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Voces&display=swap');
    </style>
    <meta charset="utf-8">
    <title>Жопа</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>
<img src="{% static 'img/registration_page/567 1.png' %}" class="img1" alt="">
<img src="{% static 'img/registration_page/777 1.png' %}" class="img2" alt="">
<img src="{% static 'img/registration_page/12345 1.png' %}" class="img3" alt="">
{% block authform %}

{% endblock %}
</body>
</html>
