{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block 'title' %}
        <title>Title</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/books.css' %}">
</head>
<body>

<header>
    <img src="{% static 'img/books_page/logo.png' %}" alt="" class="logo">
    <div class="pages">
        <a href="{% url 'main-page' %}">HOME</a>
        <a href="">ABOUT SITE</a>
        <a href="">POPULAR</a>
        <a href="">BOOKS</a>
        <a href="">PROFILE</a>

    </div>
</header>

<div class="content">
    <div id="search" class="search">
        <input type="search" placeholder="              BOOK SEARCH FOR GOOD MOOD">
        <img src="{% static 'img/books_page/search_ico.png' %}" alt="">


    </div>
    <div id='search_box' class="search-content">
    </div>
    {{ books_json|json_script:'books-json' }} {#  book_json for js #}
    {% block content %}

    {% endblock %}
</div>

<script>
    {#const date = "{{books_json}}"#}
    {# TODO Поиск доделать дизайн (ВСЁ ОСТАЛЬНОЕ РЕАЛИЗОВАНО) #}
    const parse_date = JSON.parse(JSON.parse((document.getElementById('books-json').textContent)))
    const input = document.getElementById('search')

    let filteredArr = []
    input.addEventListener('keyup', (e) => {
        search_box.innerHTML = ""
        filteredArr = parse_date.filter(book => book['name'].includes(e.target.value))
        if (filteredArr.length > 0) {
            filteredArr.map(item => {
                let url = "{% url 'book' 0 %}".replace('0', item['id'])
                search_box.innerHTML += `
                <div class="search-content-item" onclick="location.href='${url}'">
                    <img style="margin: 5px;" src="/media/${item['cover']}" alt="" class="search-cover-item">
                    <div class="search-description-item">
                        <p class="search-name-item">
                            ${item['name']}
                        </p>
                        <p class="search-text-item">
                            ${item['description']}
                        </p>
                    </div>
                </div>`
            })
        } else {
            search_box.innerHTML = "<b> No result </b>"
        }
        if (e.target.value == '') {
            search_box.innerHTML = ""
        }
    })
</script>

</body>
</html>