.profile-avatar {
    display: flex;
    flex-direction: column;
}

.profile-avatar img {

    width: 327px;
    height: 349px;
}

.profile-avatar button {
    width: 327px;
    height: 4.07vh;
    margin-top: 5px;
}

.cover-favorite-book {
    margin-top: 6.57vh;
}

.cover-favorite-book img {
    width: 327px;
    height: 349px;

}

.left-bar {
    display: flex;
    flex-direction: column;
}

.content {
    height: calc(100vh - 6.35vh);
    position: absolute;
    width: 100vw;
}

.profile {
    display: flex;
    flex-direction: row;
    margin-left: 149px;
    margin-top: 13px;
}

.right-bar {
    margin-left: 37px;
}

.status {
    width: 397px;
    height: 56px;
    background: #D9D9D9;
}

.status-text {
    font-size: 30px;
}

.profile-description {
    width: 1300px;
    height: 236px;
    background: #D9D9D9;
    margin-top: 31px;
    display: flex;
    flex-direction: row;
}

.main-info div {
    display: flex;
    flex-direction: row;
}

.nickname {
    height: 49px;
    width: 645px;
    margin: 6px 19px 8px 10px;
    background: rgba(161, 165, 202, 0.5);
}

.age {
    margin: 7px 7px 7px 10px;
    width: 126px;
    height: 36px;
    background: rgba(161, 165, 202, 0.5);
}

.region {
    margin: 7px 2px 7px 2px;
    width: 379px;
    height: 36px;
    background: rgba(161, 165, 202, 0.5);
}

.sex {
    margin: 7px 2px 7px 2px;
    width: 128px;
    height: 36px;
    background: rgba(161, 165, 202, 0.5);

}

.about-me {
    width: 645px;
    height: 106px;
    margin: 3px 19px 8px 10px;
    background: rgba(161, 165, 202, 0.5);

}

.favorite-ganre {
    width: 610px;
    height: 215px;
    background: rgba(161, 165, 202, 0.5);
    margin: 6px 16px 17px 0px;
}

.gallery {
    width: 1300px;
    background: #D9D9D9;
    margin-top: 27px;
    display: flex;
    flex-direction: column;
}

.cover-content {
    display: flex;
    flex-direction: row;
    margin-left: 1.3vw;
    margin-top: 5px;
}

.gallery p {
    margin: auto;
    text-align: center;
}

h2 {
    width: 430px;
    height: 31px;
    background: rgba(161, 165, 202, 0.5);
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.read-cover-books {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.read-cover-books img {
    width: 170px;
    height: 170px;
    margin-left: 13px;
    margin-right: 13px;
    margin-top: 13px;
}

.edit-block {
    position: absolute;
    width: 1531px;
    height: 85vh;
    margin-top: 4vh;
    margin-left: 194px;
    background: #D9D9D9;
}
.edit-block div {
    margin-top: 40px;
    margin-left: 40px;
}


.name-field {
    width: 767px;
    height: 54px;
}

.name-field label {

    font-size: 30px;
    line-height: 50px;
}

.name-field input {
    width: 617px;
    height: 54px;
    border: 0 solid;
    background: rgba(161, 165, 202, 0.5);
    font-size: 30px;
}

.age-field {
    width: 767px;
    height: 54px;
}

.age-field label {

    font-size: 30px;
    line-height: 50px;
}

.age-field input {
    width: 80px;
    height: 54px;
    border: 0 solid;
    background: rgba(161, 165, 202, 0.5);
    font-size: 30px;
}

.sex-field {
    width: 767px;
    height: 54px;
    display: inline-block;

}

.sex-field label {
    font-size: 30px;
    line-height: 50px;
}

.sex-field select {
    width: 140px;
    height: 35px;
    padding: 4px;
    border-radius: 4px;

    background: rgba(161, 165, 202, 0.8);
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}


.region-field {
    width: 767px;
    height: 54px;
}

.region-field label {

    font-size: 30px;
    line-height: 50px;
}

.region-field input {
    width: 230px;
    height: 54px;
    border: 0 solid;
    background: rgba(161, 165, 202, 0.5);
    font-size: 30px;
}

.likes_genre-field {
    width: 767px;
    display: flex;
    flex-direction: column;
}

.likes_genre-field label {

    font-size: 30px;
}

.likes_genre-field select {
    background: rgba(161, 165, 202, 0.5);

}

.likes_genre-field select option {
    padding: 6px;
}


.about_me-field {
    width: 1209px;
    height: 114px;
    display: flex;
    flex-direction: column;
}

.about_me-field label {

    font-size: 30px;
    line-height: 50px;
}

.about_me-field textarea {
    width: 1209px;
    height: 114px;
    border: 0 solid;
    background: rgba(161, 165, 202, 0.5);
    font-size: 10px;
}


#edit-photo:hover {
        cursor: pointer;
    opacity: 1;
}
.avatar-form>input {
    display: none;
}
.avatar-form label {

    margin-top: 120px;
    margin-left: 100px;
    position: absolute;
    opacity: 0;
}
.avatar-form label:hover {
    opacity: 1;
}